.feature_project {
  padding: 2rem 0;
  background-color: rgb(232, 232, 232);

  &_imgbox {
    height: 100%;
    // background: linear-gradient(rgba(13, 37, 56, 0.2), rgba(13, 37, 56, 0.2));
    &_img {
      border-radius: 1%;
      width: 100%;
      position: relative;
      top: 5;
    }
  }

  &_description {
    height: 100%;
    padding: 1.5rem;
    &_title {
      font-size: 1.5rem;
      font-weight: 700;
      color: #3f51b5;
    }

    &_description {
      font-size: 1.2rem;
      font-weight: 400;
      padding: 1rem 0;
      color: rgb(33, 33, 33);
    }
  }

  &_icons {
    font-size: 3rem;
  }

  &_viewbtn {
    margin: 2rem auto;
  }
}
