.header {
  color: white;
  background: linear-gradient(rgba(13, 37, 56, 0.85), rgba(13, 37, 56, 0.85)),
    url('../img/code_bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2rem 0;

  &_greeting {
    color: $secondary-color;
    font-size: 3.052rem;
    padding: 1.5rem 0;
  }
  &_fullname {
    margin-top: 2rem;
  }

  &__profile {
    display: flex;
    flex: 1;
    justify-content: center;
    align-content: center;
    > img {
      border-radius: 50%;
      height: 20rem;
    }
  }
}

// linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../img/profile1.JPG') center center/cover;
