$primary-color: rgb(13, 37, 56);
$secondary-color: rgb(59, 186, 149);
$grey-color: rgb(182, 190, 195);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

.section_title {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  color: $primary-color;
  margin: 1rem;
}

.p-1 {
  padding: 0.5rem;
}

.p-2 {
  padding: 1rem;
}

.p-3 {
  padding: 1.5rem;
}

.p-4 {
  padding: 2rem;
}

.p-5 {
  padding: 2.5rem;
}

.py-1 {
  padding: 0.5rem 0rem;
}

.py-2 {
  padding: 1rem 0rem;
}

.py-3 {
  padding: 1.5rem 0rem;
}

.py-4 {
  padding: 2rem 0rem;
}

.py-5 {
  padding: 2.5rem 0rem;
}

.px-1 {
  padding: 0rem 0.5rem;
}

.px-2 {
  padding: 0rem 1rem;
}

.px-3 {
  padding: 0rem 1.5rem;
}

.px-4 {
  padding: 0rem 2rem;
}

.px-5 {
  padding: 0rem 2.5rem;
}

.white {
  color: rgb(255, 255, 255);
}

.bold {
  font-weight: 500;
}

.text-primary {
  color: $primary-color;
}

.text_secondary {
  color: $secondary-color;
}

@import './header.scss';
@import './navbar.scss';
@import './services.scss';
@import './feature_project.scss';
@import './projects.scss';
@import './footer.scss';
