#transfromNavbar {
  background-color: $primary-color;
  transform: background;
  transition-duration: 2s;
}

#normalNavbar {
  background-color: transparent;
  transform: background;
  transition-duration: 2s;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: auto;
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0; /* required */
  z-index: 2;
  color: white;

  &_band {
    color: white;
    font-weight: 600;
    font-size: 1.25rem;
  }

  &_links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    &_link {
      display: flex;
      padding: 0.75rem;
      font-size: 1.2rem;
      &:hover {
        color: $secondary-color;
      }
    }

    > a {
      color: white;
      text-decoration: none;
    }

    &_icons {
      color: white;
      font-size: 2rem;
      &:hover {
        color: $secondary-color;
      }
    }
  }
}
