.services {
  padding: 2rem 0;

  &_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    grid-auto-rows: 1fr;
    padding: 2rem;
    &_cards {
      border-top: 0.5rem solid $secondary-color;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      border-radius: 0.25rem;
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

      &_icons {
        font-size: 3.5rem;
        color: $secondary-color;
        padding-top: 1.75rem;
        padding-bottom: 0.75rem;
        &:after {
          display: block;
          height: 4px;
          background-color: $secondary-color;
          content: '';
          width: 2.5rem;
          margin: 1rem auto 0 auto;
        }
      }

      &_title {
        font-weight: 500;
        padding: 1rem;
        text-align: center;
      }

      &_subtitle {
        font-weight: 300;
        // padding: 1rem 0;
        text-align: center;
      }

      &_desc {
        text-align: center;
        color: rgb(133, 133, 133);
        font-weight: 300;
        padding: 1rem;
      }

      &_techbox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 2rem;
        > h3 {
          padding-bottom: 0.5rem;
          color: $secondary-color;
          font-weight: 500;
          font-size: 1.4rem;
        }
        > p {
          padding: 0.5rem 0;
          font-size: 1.1rem;
          font-weight: 300;
        }
      }
    }
  }
}

// Tablet
@media (min-width: 650px) {
  .services {
    &_content {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1rem;
      grid-auto-rows: 1fr;
    }
  }
}

// Laptop
@media (min-width: 1000px) {
  .services {
    &_content {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      grid-auto-rows: 1fr;
    }
  }
}
