// Mobile
.footer{
    background-color: #1b1c1d;
    color: white;
    padding: 5rem 0;
    text-align: center;
    .social-medias{
        display: flex;
        justify-content: center;
        >i {
            margin: 3rem;
        }
    }

    .fa-facebook-square:hover{
        color: #3b5999;
    }
    .fa-instagram:hover{
        color: #e4405f;
    }
    .fa-twitter-square:hover{
        color: #55acee;
    }
    .fa-google-plus-square:hover{
        color: #dd4b39;
    }
}

// Tablet
@media (min-width: 800px){

}

// Laptop
@media (min-width: 1022px){

}