.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    height: 90vh;
    background-color: $primary-color;
    padding: 0 2rem;

    &__description{
        flex: 1;
        padding: 0 1rem;
        font-size: 2rem;

        &_greeting{
            font-size: 4rem;
            color: $secondary-color;
        }
        &_fullname{
            margin-top: 2rem;
            font-family: 'Josefin Slab', serif;
        }
    }

    &__profile{
        display: flex;
        flex: 1;
        justify-content: center;
        align-content: center;
        >img{
            border-radius: 50%;
            height: 20rem;
        }
    }
}

// linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../img/profile1.JPG') center center/cover;