@import url('https://fonts.googleapis.com/css?family=Josefin+Slab|Lato');

$primary-color: rgb(13,37,56);
$secondary-color: rgb(59,186,149);
$grey-color: rgb(182,190,195);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato';
    background-color: $primary-color;
}

.container{
    max-width: 1000px;
    margin: 0 auto;
}

.section-title{
    font-family: 'Josefin Slab', serif;
    font-size: 2rem;
    color: $secondary-color;
}

@import './animations.scss';
@import './navbar.scss';
@import './header.scss';
@import './skills.scss';
@import './slider.scss';
@import './aboutme.scss';
@import './footer.scss';