nav{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    padding: 0 3rem;
    background-color: $primary-color;
    color: $grey-color;
    z-index: 2;
    >.navlinks{
        display: flex;
        justify-content: space-between;
        >h3{
            margin: 0 0.5rem;
        }
    }

    >.social-links{
        display: flex;
        justify-content: space-between;
        >a:active,
        >a:hover,
        >a
        {
            color: $grey-color;
            margin: 0 0.5rem;
        }
    }
}