.personality {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem;

  &_grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 2rem;
    margin: 3rem 0;

    &_box {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &_hexagon {
        width: 100px;
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: $secondary-color;
        position: relative;
        margin: 3rem 0;
        > i {
          font-size: 2.5rem;
          color: white;
        }

        &:before {
          content: '';
          position: absolute;
          top: -25px;
          left: 0;
          width: 0;
          height: 0;
          border-left: 50px solid transparent;
          border-right: 50px solid transparent;
          border-bottom: 25px solid $secondary-color;
        }
        &:after {
          content: '';
          position: absolute;
          bottom: -25px;
          left: 0;
          width: 0;
          height: 0;
          border-left: 50px solid transparent;
          border-right: 50px solid transparent;
          border-top: 25px solid $secondary-color;
        }
      }
    }
  }
}

// Tablet
@media (min-width: 750px) {
  .personality {
    &_grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 2rem;
    }
  }
}

// Tablet
@media (min-width: 1250px) {
  .personality {
    &_grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 2rem;
    }
  }
}
