.downloadBtn,
.downloadBtn:active {
  padding: 0.75rem;
  margin: 0.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: #f5f5f5;
  background-color: #333;
  border-radius: 10rem;

  > p {
    margin: 0.25rem;
    font-size: 1.15rem;
    font-weight: 300;
  }

  &.ios {
    background-color: #1da1f2;
  }

  &.android {
    background-color: #ea4335;
  }

  &.website {
    background-color: #4dc247;
  }

  &:hover {
    opacity: 80%;
  }
}
