.jumbotron {
  color: white;
  height: 60vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &_title {
    font-size: 3rem;
    font-weight: 800;
    padding: 1rem;
  }

  &_subtitle {
    font-weight: 300;
    font-size: 1.2rem;
  }
}
