.material_card {
  position: relative;
  top: -3rem;
  margin: 0 2rem;
  z-index: 1;
  background-color: white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

@media (min-width: 750px) {
  .material_card {
    margin: 0 4rem;
  }
}

@media (min-width: 1000px) {
  .material_card {
    margin: 0 6rem;
  }
}
