.myHistory {
  background-color: rgb(233, 233, 233);
  padding: 3rem 1rem;
  &_content {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    padding: 3rem 0;
    overflow: hidden;
    &_intro {
      display: flex;
      flex-direction: column;
      width: 100%;
      &_name {
        color: $secondary-color;
        font-size: 2.5rem;
        margin: 1rem 0;
      }

      &_p {
        padding: 1rem 0;
        font-size: 1rem;
        font-weight: 300;
        white-space: pre-line;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: auto;
      }
    }

    &_achievement {
      margin: 0 auto;
      &_profile_img {
        width: 400px;
        padding: 0.5rem 0;
        cursor: pointer;
      }

      &_box {
        &_title {
          padding: 0.5rem 0;
        }

        &_item {
          display: flex;
          align-items: center;
          padding: 0.25rem 0;

          > img {
            margin: 0 0.25rem;
            width: 50px;
            height: 50px;
          }

          > p {
            font-weight: 300;
            font-size: 1.1rem;
          }
        }
      }
    }
  }
}

// Tablet
@media (min-width: 650px) {
  .myHistory {
    &_content {
      display: grid;
      grid-template-columns: 50% 50%;
      &_intro {
        padding: 0 2rem;
      }
    }
  }
}

// Laptop
@media (min-width: 1050px) {
  // .myHistory {
  //   &_content {
  //     display: grid;
  //     grid-template-columns: 50% 50%;
  //   }
  // }
}
