.social-buttons {
  display: flex;
  flex-wrap: wrap;
  min-width: 350px;
  &__button {
    margin: 10px 5px 0;
  }
}

$social-button-radius: 70px;
$social-button-icon-size: 0.4;
$social-button-background: #fff;
$social-button-active-color: #fff;
$social-button-transition-time: 0.3s;

$social-button-colors: (
  'mail': #0072c6,
  'facebook': #3b5999,
  'linkedin': #0077b5,
  'github': #212121,
  'codepen': #212121,
  'steam': #7da10e,
  'snapchat': #eec900,
  'twitter': #55acee,
  'instagram': #e4405f,
  'npmjs': #c12127
);

.social-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  width: $social-button-radius;
  height: $social-button-radius;
  text-decoration: none;

  &__inner {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(80% - 2px);
    height: calc(80% - 2px);
    border-radius: 100%;
    background: $social-button-background;
    text-align: center;
  }

  i,
  svg {
    position: relative;
    z-index: 1;
    transition: $social-button-transition-time;
  }

  i {
    font-size: $social-button-radius * $social-button-icon-size;
  }

  svg {
    height: percentage($social-button-icon-size);
    width: percentage($social-button-icon-size);
  }

  &::after {
    content: '';
    position: absolute;
    top: 10%;
    left: 60%;
    display: block;
    width: 0;
    height: 0;
    border-radius: 100%;
    transition: $social-button-transition-time;
  }

  &:focus,
  &:hover {
    color: $social-button-active-color;

    &::after {
      width: 80%;
      height: 80%;
      margin-left: -50%;
    }
  }

  @each $name, $color in $social-button-colors {
    &--#{$name} {
      color: $color;

      &::after {
        background: $color;
      }
    }
  }
}
